body {
    margin: 0;
    font-family: sans-serif;
    background-color: #242427;
}

html {
  scroll-behavior: smooth;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 6rem;
  }
  /* @media (min-width: 1600px) {
    .container {
      max-width: 1200px;
    }
} */

.section-dark {
    background-color: #161618;
    padding: 2rem 2rem;
}
