.buttons {
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    align-items: center;
  }
  
  .btn {
    padding: 0.8rem 1.5rem;
    border-radius: 4px;
    text-decoration: none;
    font-weight:lighter;
    transition: all 0.3s ease;
  }
  .btn:hover {
    transform: translateY(-2px);
  }
  
  /* ===== PRIMARY BUTTON ===== */
.btn.primary {
  background: #8ff51b;
  color: #000;
}

.btn.primary:hover {
  color: #f9fff2;
  box-shadow: 
    0 0 16px #8ff51b,
    0 0 16px rgba(143, 245, 27, 0.4);
}

/* ===== SECONDARY BUTTON ===== */
.btn.secondary {
  color: white;
  border: 2px solid white;
  background: transparent;
}

.btn.secondary:hover {
  color: #fff;
  border-color: #fff;
  box-shadow: 
    0 0 16px rgba(255, 255, 255, 0.6),
    0 0 16px rgba(255, 255, 255, 0.4);
}
  
@media (max-width: 768px) { 
  .buttons {
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0;
  }
    
  .btn {
    padding: 0.8rem 1.5rem;
    border-radius: 4px;
    text-decoration: none;
    font-weight: lighter;
  }
    
  .btn.primary {
    background: #8ff51b;
    color: #000;
  }
    
  .btn.secondary {
    color: #fff;
    border: 2px solid #fff;
  }
    
}
    