.dark-section-services{
  background-color: #474644;
  padding: 4rem 2rem;
  /* margin: 50px auto; */
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    
    /* background-color: #474644; */
  }

  .card-skill {
    background: #ffffff;
    border-radius: 25px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
  }
  
  .skill-img {
    object-fit: cover;
    width: 38%;   
    height: auto;   
    display: block;
    margin: 30px auto 0px;
  }
  
  .skill-body {
    /* padding: 0px 30px 0; */
    flex-grow: 1;
    text-align: center;
  }
  
  .skill-text {
    color: #555;
    line-height: 1.5;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0px 0px 30px 0px;
  }

/* .card-footer {
    font-size: 1em;
    color: #555;
  } */
  
  /* .card-button {
    background-color: #fafafa;
    color: #6c757d;
    margin: 0px 0px 0px 20px;
    border: none;
    padding: 10px 20px;
    border-radius: 999px;;
    cursor: pointer;
    transition: background-color 0.3s ease;
  } */
  
  /* .card-button:hover {
    background-color: #eeeeee;
  } */
  
  /* .card-icon{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin: 0px 8px 0px 0px;
  } */
  
  /* .profile-card {
    display: flex;
    align-items: center;
    gap: 10px; 
    font-family: Arial, sans-serif;
    margin: 0px 0px 90px 0px;
  } */
  
  /* .profile-info {
    display: flex;
    flex-direction: column;
  } */
  
  /* .profile-name {
    font-weight: bold;
    margin: 0;
    color: #000;
  } */
  
  /* .profile-role {
    margin: 0;
    color: #6c757d; 
    font-size: 14px;
  } */
  
  /* Button */
  /* .button-container {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    margin: 60px;
    padding: 0rem 8rem;
  } */
    