.txt-bold{
    margin: 7% auto;
    font-size: 2.1rem;
    font-family: 'Arial', sans-serif;
    font-weight: 800;
  }
  
  .text-center{
    text-align: center;
    margin: 50px;
  }
  
.title-card {
  font-family: 'Arial', sans-serif;
  font-weight: 800;     
  font-size: 1.5rem;   
  text-transform: uppercase; 
  line-height: 1;     
  /* text-align: center;     */
  margin: 5rem auto 3rem;
}

.text-primary{
  color: white;
  font-size: 2.5rem;
    margin-bottom: 4rem;
}

.text-secondary{
  color: #8ff51b;
}
/* .text-location {
  margin: 100px;
} */